<div id="masonry-container" class="transitions-enabled">
  <% @products.each do |product| %>
    <div class="box">
      <%= link_to product_path(product) do %>
        <% if product.photo.present? %>
          <%= image_tag(product.photo.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <p class="title"><%= product.title %> <span style="color:#ff007c">$ <%= product.price %><span></p>
    </div>
  <% end %>
</div>