<div class="product_wrapper">
  <div class="row">
    <div class="col-md-6">

      <% if @product.photo.present? %>
        <%= image_tag(@product.photo.image.medium.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="panel-body">
        <h1> <%= @product.title %> </h1>
        <p>
          <%= @product.description %>
        </p>
        <br>
        <p> Quantity: <%= @product.quantity %> </p>
        <div id="product-price"> $ <%= @product.price %> </div>
      <div class="pull-right">
        <% if @product.quantity > 0 %>
          <%= link_to "Buy", add_to_cart_product_path(@product), method: :post, class: "btn btn-lg btn-danger" %>
        <% else %>
          Sold Out!
        <% end %>
      </div>
      </div>
    </div>
  </div>  
</div>

<div class="product_comment">
  <p class="comment"><%= pluralize(@product.comments.count, "Comment") %></p>
    <% @comments.each do |comment| %>
      <p><%= comment.user.name %></p>
      <p>
        <%= comment.context %>
        <%= link_to "Edit", edit_product_comment_path(comment.product, comment), class: "btn btn-default" %>
        <%= link_to "Delete", product_comment_path(comment.product, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
      </p>
    <% end %>
  <%= render "comments/form" %>
</div>